node_modules
*.log
.idea
npm-shrinkwrap.json
dist
.tern-port
*.DS_Store
.cache
junit.xml
coverage/
*.lerna_backup
build
/**/LICENSE
docs/public
framework/
.vscode/
.history/
*~
es
esm
cjs
airflow/logs/
airflow/plugins/
airflow/docker-compose.override.yaml
cache
