body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.searchapp {
  background-color: @primaryColor;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.simple-item {
  .simple-item-extra {
    font-size: 80%;
  }
}

.listing-view-item.header {
  cursor: pointer;
}

.listing-view-details {
  .listing-view-details-section {
    padding: 1em 0em;

    .details-field {
      display: flex;
      .details-field-label {
        width: 20%;
        font-weight: bold;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 0.3em 1em 0.3em 0.3em;
      }
      .details-field-value {
        width: 80%;
        padding: 0.3em 0.3em 0.3em 1em;
      }
    }
  }
}

.body-content,
.body-footer {
  background-color: white;
}

.ui.four.cards > .card.card-item {
  font-size: 0.8em;

  &.hovered {
    a.image {
      height: 80px;
    }

    .content {
      max-height: 13em;

      .description {
        max-height: 7em;
      }
    }

    .controls {
      display: block;
    }
  }

  .controls {
    display: none;

    button {
      // font-size: xx-small;
    }
  }

  a.image {
    height: 180px;
    background-size: cover;
    background-position: center;
    img {
      display: none;
    }
  }

  .label.meta-type {
    position: absolute;
    margin-top: 50px;
    z-index: 2;
    border-radius: 0px !important;
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: #009590;
    color: white;
  }

  .header {
    padding-top: 0.8em;
  }

  .content {
    overflow: hidden;
    max-height: 8em;

    .description {
      max-height: 4em;
      overflow: hidden;
    }

    .meta {
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.view-selector {
  padding-bottom: 1em;
}

.search-body-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .sui-paging-info {
    flex-grow: 1;
  }
}

.facets {
  margin-top: 1em;

  .accordion.ui {
    border-bottom: 1px solid #ccc;
    padding: 0.4em 0em;

    &:hover {
      background-color: #eee;
    }

    .content {
      background-color: white;
      padding-bottom: 0.5em !important;
    }

    .title {
      white-space: nowrap;
    }

    .sui-facet__title {
      display: none;
    }
  }
}

.sui-multi-checkbox-facet.facet-term-controls {
  margin: 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.match-select {
  margin-left: 1em;
  font-size: 70%;
}

.searchlib-multiterm-facet,
.searchlib-fixedrange-facet {
  .toggleSort {
    display: flex;
    div.toggle-label {
      max-width: 7em;
      overflow: hidden;
    }
  }
  .sui-facet-search {
    display: flex;

    i.icon {
      padding: 6px 0;
    }
  }
  .sui-facet-search__text-input {
    border: 0px;
    font-size: 80%;
  }
  .sui-multi-checkbox-facet {
    // max-height: 200px;
    overflow: auto;
    max-height: 100%;
    padding: 0 0.6em;
  }
}

@keyframes listening {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.4);
  }
}

.sui-search-box__text-input {
  & > input {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 16px;
    outline: none;
    position: relative;
    font-family: inherit;
    font-size: 14px;
    // width: 100%;
    display: flex;
  }
}

.searchinput-boolean-facet {
  padding-top: 0.3rem;
  padding-right: 2em;
  font-size: small;

  .checked {
    label {
      &:before {
        background-color: #5b91c3 !important;
      }
      &:after {
        background-color: white !important;
        left: 1.45rem;
      }
    }
  }

  label {
    padding-left: 3rem !important;
    color: white !important;
    &:before {
      height: 1rem !important;
      width: 2.5rem;
      background-color: gray !important;
      top: 0.2rem;
    }
    &:after {
      height: 1rem !important;
      top: 0.2rem;
      width: 1rem;
    }
  }
}

.sui-search-box {
  padding: 4em 0em 0em 0em;
  // margin-bottom: 1em;
  display: block;

  #exact-phrases-facet {
    .searchinput-boolean-facet();
  }

  #archived-facet {
    .searchinput-boolean-facet();
  }

  .extra-facets {
    display: flex;
  }

  .search-input {
    width: 100%;
    padding: 0.6em;
    background-color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;

    & > input {
      font-family: inherit;
      outline: none;
      border: 0px;
      flex-grow: 1;
    }
  }
  .ui.label.search-phrase {
    font-size: initial;
    .ui.small.basic.icon.button {
      padding: 0 !important;
    }
  }

  .ui.button {
    margin: 0;
    padding: 0.6em !important;
  }
  .ui.button.basic {
    margin: 0;
    padding: 0.6em !important;
    box-shadow: none;
  }

  .microphone-input {
    i.icon {
      margin: 0 !important;
      padding: 0;
    }

    &.listening {
      background-color: teal;
      color: white !important;
      fill: white !important;
    }

    &.listening::before {
      content: "";
      width: 100px;
      height: 100px;
      background-color: #ffffff81;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(1.4);
      border-radius: 50%;
      animation: listening infinite 1.5s;
    }
  }
}

.autocomplete {
  .sui-search-box__autocomplete-container {
    z-index: 3;
    top: 8em;
  }
}

.layout-header {
  // margin: 2em 0;
}

.sui-search-box__autocomplete_container {
  color: black !important;
}

.histogram-facet {
  .text-input {
    display: flex;
    justify-content: space-between;
    width: 100%;
    .ui.input {
      input {
        outline: none;
        border: 1px solid #ccc;
        max-width: 6em;
      }
    }
  }
}

.visx-tooltip {
  z-index: 99;
  min-width: 100px;
  background-color: white;
  color: white;
  border-radius: 0.3em;
  padding: 1em;
  font-size: x-small;
  box-shadow: #000000ee 0px 0px 12px 0px;
  line-height: 2em;
  text-align: center;
}

.ui.inverted.segment.filter-list {
  padding: 0.4rem;
  background-color: #004b87;
  border-radius: 0.5rem;

  .filter-list-header {
    button {
      box-shadow: none !important;
    }
  }

  .filter-list-content {
    padding: 0rem 1rem 1rem 1rem !important;
  }

  .filter-list-item {
    display: flex;

    .filter-name {
      padding-right: 0.6em;
    }
  }
}

.above-results {
  display: flex;
  .sui-select {
    margin-top: 0px;
  }
}

.sorting {
  font-size: x-small;

  .visible.menu {
    display: block;
  }
}

.sui-app-info {
  color: #808285;
  font-size: 85%;
  font-weight: 400;
}
