@sf-light-gray: #f9f9f9;
@sf-azure: #2D9390;
@sf-blue: #0F4B87;
@sf-medium-gray: #cccccc;
@sf-dark-gray: #303030;

div.landing-page-container {
  width: calc(100% + 800px);
  padding-right: 350px;
  padding-left: 350px;
  background: @sf-light-gray;
  transform: translateX(-400px);

  div.landing-page {
    min-height: 500px;
    padding: 50px;

    h3.browse-by {
      font-weight: 700;
    }

    div.filters {
      margin-bottom: 2em;

      button {
        border: 1px solid @sf-medium-gray;
        margin-right: 20px;
        background-color: white;
        border-radius: 0 !important;
        color: @sf-dark-gray;
        font-weight: 400;
      }
    }

    div.cards {
      div.card {
        border-radius: 0 !important;
      }
    }
  }
}

// OLD styles: (TODO: clean code)
.ui.container.stackable.two.column.grid.body-content {
  width: 100% !important;
  margin: 0 !important;
}

.ui.container.one.column.grid {
  width: 100% !important;
  margin: 0 !important;
}

.ui.container.grid.body-footer {
  width: 100% !important;
  margin: 0 !important;
}

.tile {
  padding: 18px;
  margin: 0 12px 12px 0;
  @media only screen and (min-width: 1536px) {
    width: 23%;
  }
  @media only screen and (min-width: 900px) and (max-width: 1535px) {
    width: 31%;
  }
  @media only screen and (min-width: 620px) and (max-width: 900px) {
    width: 47%;
  }
  @media only screen and (max-width: 620px) {
    width: 95%;
  }

  h2 {
    border-bottom: 1px solid white;
    margin: 0 0 1em 0;
    margin-bottom: 0;
    font-size: 200%;
    font-weight: bold;
    line-height: 1.3;
  }

  span {
    font-size: 250%;
    font-weight: bold;
  }

  &.available_content {
    height: 434px;

    h2 {
      border-bottom: 1px solid #115c57;
      color: #115c57;
      font-size: 200%;
    }

    h3 {
      color: #115c57;
    }

    span {
      color: #1b928f;
    }
  }
}
